/* ======= Global Styles ======= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ======= Typography ======= */
h1 {
    font-family: 'MuseoModerno', cursive;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* ======= Resuable Components ======= */
/* .grid-section {
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) minmax(230px, 900px) minmax(1.5em, 1fr);
} */


/* ======= Main Page ======= */
.carousel {
    position: relative;
    height: 600px;
    width: 600px;
    margin: 0 auto;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-track-container {
    background: limegreen;
    height: 100%;
    position: relative;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.corousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.courousel-btn-left {
    right: 1%;
}

.courousel-btn-right {
    left: 1%;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator {
    margin: 0 5px;
    border: 0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: black;
}