/* TODO - Add image for browser, fix github repo name, and fix html and accessibility compliance issues */

/* ======= Global Styles ======= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

body > * {
    grid-column: 2 / -2;
}

main {
    font-size: 0.65rem;
}

a {
    color: black;
    text-decoration-color: red;
    cursor: pointer;
}

a:hover, a:focus {
    color: rgba(0, 0, 0, 0.7);
}

strong {
    color: red;
}

.page-title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
}

/* Stop playing transition momentarily on viewport resize. 
   Source: https://stackoverflow.com/questions/63861504/pure-css-hamburger-menu-shows-up-when-resizing-viewport-before-disappearing */
   body.stop-transition nav {
    transition: none;
}

/* ======= MAIN PAGE ======== */

/* ======= Typography ======= */
.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-decoration: overline;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
    text-decoration-skip-ink: auto;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.headlines {
    font-size: 0.78rem;
    font-weight: 700;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* Nav */
.nav-menu {
    font-size: 1.4rem;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

.nav-menu li a:hover, .nav-menu li a:focus, .nav-menu li a.active-link {
    text-decoration: underline;
    text-decoration-color: red;
}

/* Footer */
footer {
    font-size: 0.6rem;
}

.social-list {
    font-size: 0.8rem;
}

/* ======= Resuable Components ======= */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) minmax(0, 900px) minmax(1.5em, 1fr);
}

.header-grid {
    display: grid;
    grid-template-columns: minmax(0px, 500px) minmax(1.5em, 1fr) 48px;
    width: 100%;
}


/* ======= Main Page ======= */
/* header/ nav */
.logo {
    margin-left: 0.5em;
    align-self: center;
}

nav {
    height: 0%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: hidden;
    position: fixed;
    background: #000;
    transition: 250ms;
}

nav > * {
    grid-column: 2 / -2;
}

.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-open {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) minmax(0, 900px) minmax(1.5em, 1fr);
    z-index: 100;
}

.nav-open > * {
    grid-column: 2 / -2;
}

.nav-open .nav-menu {
    height: 100vh;
}

.nav-logo {
    color: white;
    order: 0;
}

.nav-menu {
    height: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.nav-btn {
    grid-column: 3;
    z-index: 3;
    align-self: center;
    width: 50px;
    height: 50px;
    border: none;
    padding: 10px;
    background: none;

    margin-bottom: 0.4em;
}

.nav-btn img {
    width: 100%;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

/* Headlines */
.headlines {
    margin-top: 1em;
}

.headlines > * {
    grid-column: 2;
    text-align: center;
    margin-top: 0;
}

/* Carousel */
.carousel {
    grid-column: 2;

    position: relative;
    height: 40vh;
    width: 80%;
    margin: 0 auto;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.carousel-track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 250ms ease-in;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.carousel-btn-next {
    right: 1%;
}

.carousel-btn-prev {
    left: 1%;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    margin-bottom: 2em;
}

.carousel-indicator {
    margin: 0 5px;
    border: 0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: black;
}

.is-hidden {
    display: none;
}

/* ======= Footer ======= */
footer {
    align-items: flex-end;

    margin-top: 4em;
}

.social-list {
    order: -1;
    margin-bottom: 0;

    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}

footer > * {
    grid-column: 2;
}

.contributors, .address {
    text-align: center;
    margin-bottom: 0.2em;
}

.address {
    margin-bottom: 0;
}

.author {
    margin-top: 0;
    margin-bottom: 0;
}

/* ======= Media Queries ======= */
@media (min-width: 270px) {
    /* ======= Typography ======= */
    .logo {
        font-size: 1.5rem;
    }
    
    .headlines {
        font-size: 0.9rem;
    }

    .footer {
        font-size: 0.5rem;
    }

    /* Nav */
    .nav-menu {
        font-size: 1.7rem;
    }

    .social-list {
        font-size: 0.9rem;
    }

}

@media (min-width: 320px) {
    /* ======= Typography ======= */
    .logo {
        font-size: 2rem;
    }

    .headlines {
        font-size: 1.07rem;
    }

    /* Nav */
    .nav-menu {
        font-size: 1.7rem;
    }

    .nav-btn {        
        padding: 5px;
    }

    .social-list {
        font-size: 1.1rem;
    }

    @media(min-height: 800px) {
        /* ======= Typography ======= */
        .logo {
            font-size: 2.25rem;
        }
        
        .headlines {
            font-size: 1.2rem;
        }

        /* Nav */
        .logo {
            align-self: center;
        }

        .nav-menu {
            font-size: 2.5rem;
        }

        /* Footer */
        .footer {
            font-size: 0.7rem;
        }

        .social-list {
            font-size: 1.3rem;
        }

        .arrow {
            border-width: 0 5px 5px 0;
            padding: 7px;
        }

        .carousel-indicator {
            width: 16px;
            height: 16px;
        }
    }
}

@media (min-width: 410px) {
    /* ======= Typography ======= */
    .logo {
        font-size: 2.9rem;
    }
    
    .headlines {
        font-size: 1.4rem;
    }

    .nav-menu {
        font-size: 2.5rem;
    }

    /* Footer */
    .footer {
        font-size: 0.8rem;
    }

    .social-list {
        font-size: 1.3rem;
    }

    .arrow {
        border-width: 0 5px 5px 0;
        padding: 7px;
    }

    .carousel-indicator {
        width: 16px;
        height: 16px;
        margin-right: 1em;
    }
}

@media (min-width: 600px) {
    .carousel {
        height: 50vh;
    }

    .nav-open-btn {
        /* margin-bottom: 1em; */
    }
}

/* desktop layout */
@media (min-width: 725px) {
    /* ======= Typography ======= */
    .logo {
        color: black;
    }

    .nav-menu {
        font-size: 1.4rem;
        font-weight: 700;
    }

    .nav-menu li a {
        text-decoration: none;
        color: black;
    }
    
    .nav-menu li a:hover, .nav-menu li a:focus {
        text-decoration: underline;
        text-decoration-color: red;
    }

    .nav-top {
        align-self: center;
    }

    /* Footer */
    .social-list {
        font-size: 1.5rem;
    }

    /* header */
    .header-grid {
        display: unset;
    }

    /* Nav Menu */
    nav {
        flex-direction: row;
        position: static;
        background: none;
        transition: none;
        overflow-y: visible;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        height: 100px;
        width: 100%;
    }

    .mobile-logo, .nav-open-btn, .nav-close-btn {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    /* ======= Carousel ======= */
    .carousel {
        height: 65vh;
    }

    .carousel-slide:nth-of-type(2) img{
        object-position: top;
    }
}

/* ======= ABOUT PAGE ======== */
.about > * {
    text-align: center;
}

.img-holder img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.description {
    font-size: 0.85rem;
}

/* desktop layout */
@media (min-width: 700px) {
    .about {
        display: grid;
        grid-template-columns: minmax(1.5em, 1fr) repeat(2, minmax(0, 450px)) minmax(1.5em, 1fr);
        gap: 2em;
    }

    .page-title {
        grid-column: 2 / 4;
    }

    div.img-holder1 {
        grid-row-start: 2;
    }

    div.img-holder2 {
        grid-row-start: 3;
    }

    .img-holder {
        grid-column: 2;
    }

    .description-holder {
        grid-column: 3;
    }

    .description-holder .headlines {
        margin: 0;
    }
}

/* ======= CONTACT PAGE ======== */
/* Typography */
form label {
    font-size: 0.7rem;
}

form textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: inherit;
}

.tagline {
    grid-column: 2 / 4;
    grid-row-start: 2;
}

.headline-p {
    font-size: 0.8rem;
    margin: 1em auto;
    max-width: 400px;
}

.contact {
    margin-bottom: 0;
    grid-row: 1;
}

/* Form */
form {
    margin-bottom: 3em;
}

label {
    margin-bottom: 0.5em;
}

label, form button {
    display: block;
}

form button {
    margin: 0 auto;
}

form input, form textarea {
    margin-bottom: 0.75em;
    padding: 4px;
}

form input, form textarea {
    width: 235px;
}

form textarea {
    height: 80px;
    resize: vertical;
    min-height: 50px;
    max-height: 180px;
}

form button {
    width: 80px;
    margin-top: 0;
    cursor: pointer;
}

form button:hover, form button:focus {
    background-color: lightgray;
}

/* ======= MENU PAGE ======== */
.menu {
    margin: 0 auto;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

.headline-container {
    display: flex;
    justify-content: center;
}

.menu .headlines {
    font-size: 1.8rem;
    text-align: center;
    text-decoration: overline;
    text-decoration-color: red;
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 600px;
}

.menu-items {
    padding: 0;
}

.menu-item {
    list-style-type: none;
    margin-right: 1.5em;
}

.menu-item-title {
    margin-top: 0;
    margin-bottom: 0.35em;
    font-size: 1rem;
}

.menu-item-description {
    text-align: justify;
    max-width: 260px;
}

.price {
    width: 4em;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.8rem;
    font-weight: 700;
}

@media (min-width: 500px) {
    .menu-item-description {
        max-width: 500px;
    }
}

/* Desktop Layout */
@media (min-width: 700px) {
    .menu-item-description {
        max-width: auto;
    }
}