/* ======= Global Styles ======= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* ======= Typography ======= */
h1 {
    font-family: 'MuseoModerno', cursive;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* ======= Resuable Components ======= */
.grid-section {
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) minmax(230px, 900px) minmax(1.5em, 1fr);
}


/* ======= Main Page ======= */
.carousel {
    grid-column: 2;

    background-image: url(img/ramen-burger.jpg);
    background-size: cover;
    background-position: center;

    min-height: 60vh;
}

.corousel-btn {
    position: relative;
    top: 45%;
}

.courousel-btn-right {
    right: -96%;
}

.corousel-btn img {
    width: 12px;
}